html {
  font-size: 16px;
}
.wrapper {
  background-color: #fff;
  padding: 50px 2%;
  /*width: 80%;*/
  max-width: 1366px;
}

/*CONTROLLERS*/

.controllers-wrapper {
  width: 25%;
  padding: 0 3%;
}
.controllers-wrapper h4 {
  font-size: 1.125rem;
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/*city*/

.city-wrapper, .categories-wrapper {
  margin-bottom: 50px;
}
.drop-md-only {
  display: none;
  float: right;
  font-size: 28px;
  line-height: 36px;
}
.up-md-only {
  display: none;
  float: right;
  font-size: 28px;
  line-height: 13px;
}
/*custom select*/
.city-select {
  position: relative;
  width: 100%;
}
.city-wrapper select {
  border: 1px solid #dee0e1;
  border-radius: 0;
  font-size: 1rem;
  height: 40px;
  padding-left: 5%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.city-wrapper select:focus {
  outline: none;
  box-shadow: none;
  border: solid 1px #dee0e1;
}
.select-side {
  pointer-events: none;
  width: 40px;
  position: absolute;
  top: 0px;
  height: 100%;
  right: 0;
}
.select-side i {
  color: #2196F3;
  font-size: 35px;
  font-style: normal;
  line-height: 25px;
}

/*category*/

.checkbox-list {
  font-family: 'Raleway';
  font-size: 1rem;
}
.quantity {
  font-family: 'Open Sans';
  font-size: 0.875rem;
  color: #b2b4ba;
}
/*custom checkbox*/
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 25px;
  width: 25px;
  left: 0;
  top: 10px;
  z-index: 1000;
}
.checkbox-container {
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.checkbox-container input:checked ~ .checkmark {
  background-color: #fff;
  border: 1px solid #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container .checkmark:after {
  left: 10px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid #2196F3;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkmark {
  position: absolute;
  top: 10px  ;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #dee0e1;
}

/*slider*/

.slider {
  margin-bottom: 30px;
}
.values-wrapper {
  font-size: 1rem;
  font-family: 'Montserrat';
  font-weight: 700;
  width: 40%;
  line-height: 30px;
}
.filter-btn {
  width: 40%;
  height: 30px;
  background-color: #1cb8ff;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  font-style: 'Montserrat';
  text-transform: uppercase;
}


/*PRODUCTS*/


main {
  width: 75%;
  padding: 0 6% 0 3%;
}
.product {
  height: 320px;
  outline: 1px solid #dee0e1;
  outline-offset: -0.5px;
  width: 30%;
  margin: 0 1.5% 3% 1.5%;
}
.product:hover {
  box-shadow: 0px 14px 20px 5px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 14px 20px 5px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 0px 14px 20px 5px rgba(0, 0, 0, 0.21);
}
.product:hover  .product-image {
  box-shadow: inset 0 0 0 1000px rgba(86,195,245,.5);
}
.product span {
  font-family: 'Raleway';
  font-weight: 500;
  padding: 20px;
  font-size: 0.8125rem;
  color: #fff;
}
.product h3 {
  font-family:'Montserrat';
  font-size: 0.875rem;
  font-weight: 700;
  padding: 20px;
  margin-bottom: 10px;
}
.item-category {
  font-family:'Montserrat';
  font-size: 0.8125rem;
  padding: 20px;
  margin: 0;
  color: #b2b4ba;
}
.item-price {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 0.8125rem;
  padding: 20px;
  margin: 0;
}
.item-info {
  position: relative;
  bottom: 0;
}
.vue-slider-dot-handle {
  border: 1.5px solid #1cb8ff;
  box-shadow: none!important;
}

.product-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width:100%;
  height: 180px;
}



@media screen and (max-width:992px) and (min-width: 768px) {
  main {
    margin-top: 0!important;
    width: 69%;
    padding: 0 3% 0 3%;
  }
.wrapper {
    padding: 50px 2%;
    width: 100%;
    min-width: auto;
  }
  .product {
    width: 45%;
    margin: 0 1.5% 3% 1.5%;
    height: 280px;
  }
  .item-category {
    padding: 10px;
  }
  .item-price {
    padding: 10px;
  }
  .controllers-wrapper {
    width: 31%;
    padding: 0 3%;
  }

}

@media screen and (max-width:768px) {
  main {
    margin-top: 50px;
    width: 100%;
    padding: 0 3% 0 3%;
  }
  .drop-md-only, .up-md-only {
    display: inline;
  }
  .wrapper {
    padding: 50px 2%;
    width: 100%;
    min-width: auto;
  }
  .product {
    width: 45%;
    margin: 0 1.5% 3% 1.5%;
  }
  .controllers-wrapper {
    width: 100%;
    padding: 0 3%;
  }
}
@media screen and (max-width:500px)  {
  .product {
    width: 100%;
    margin: 0 1.5% 3% 1.5%;
  }
}
