<template>

  <div class="wrapper mx-auto d-flex flex-column flex-md-row">

    <section class="controllers-wrapper">

        <div class="city-wrapper">
          <h4>city</h4>
          <div class="city-select">
            <div class="select-side">
              <i>&#8964;</i>
            </div>
            <select class="form-control form-control-sm" v-model="selectedCity">
                <option v-for="city in cities">{{city.name}}</option>
            </select>
          </div>
        </div>

        <div class="categories-wrapper">
          <h4>categories
            <span @click="cityFlag=!cityFlag" v-if="cityFlag" class="drop-md-only">&#8963;</span>
            <span @click="cityFlag=!cityFlag" v-if="!cityFlag" class="up-md-only">&#8964;</span>
          </h4>
          <div v-if="cityFlag" class="checkbox-list">
            <div class="form-check checkbox-container d-flex align-items-center" v-for="(category,index) in categories" :key="category.id">

              <input
                type="checkbox"
                :value="category.id"
                v-model="categoryList"
                :id="category.id">
              <span class="checkmark"></span>
              <label class="form-check-label" :for="category.id">
                {{ category.name }} <span class="quantity">({{amount[index]}})</span>
              </label>
            </div>
          </div>
        </div>

        <div class="price-wrapper">
          <h4>Price</h4>
          <div class="slider">
            <vue-slider
              ref="slider"
              v-model="value"
              tooltip="false"
              height="3"
              :max="maxDot"
              :dotSize="dotRadius"
              :process-style="activeStyle"
              :bg-style="passiveStyle"
            >
            </vue-slider>
          </div>
        </div>

          <div class="d-flex justify-content-between">
            <div class="values-wrapper d-flex justify-content-between">
              <span>{{ value[0] }}$</span>
              <span>-</span>
              <span>{{ value[1] }}$</span>
            </div>
            <button @click="filterItem()" class="filter-btn">Filter</button>
          </div>

    </section>

    <main class="content d-flex flex-wrap">

          <div class="product"
            v-for="product in filteredProducts"
            :key="product.id"
          >
              <div :style="' background-image: url('+product.path+')'" class="d-flex align-items-end product-image" >
                <span>{{findCity(product)}}</span>
              </div>
              <h3>{{product.name}}</h3>
              <div class="d-flex justify-content-between item-info">
                <p class="item-category">{{findCategory(product)}}</p>
                <p class="item-price">{{product.price}}$</p>
              </div>
          </div>
    </main>
  </div>
</template>

<script>

import vueSlider from 'vue-slider-component';

export default {
  components: {
    vueSlider
  },
  name: 'app',
  data () {
    return {
        categoryList: [2],
        selectedCity: 'City 1',

        value: [0, 250],
        dotRadius: 14,
        maxDot: 250,
        cityFlag: true,
        activeStyle: {
          "backgroundColor": '#1cb8ff'
        },
        passiveStyle: {
          "backgroundColor": '#d6d9e1'
        },

        filters: {}
    }
  },
  computed: {
    cities() {
      return this.$store.getters.cities
    },
    categories() {
      return this.$store.getters.categories
    },
    filteredProducts() {
      return this.$store.getters.filteredProducts
    },
    products() {
      return this.$store.getters.products
    },
    amount()  {
      let count=0;
      let a = [];
      for (let i=0; i < this.categories.length; i++) {
        for (let j=0; j<this.products.length; j++) {
          if (this.categories[i].id == this.products[j].category) {count++}
        }
        a.push(count);
        count = 0;
      } return a
    }
  },
  methods: {
    findCategory(product) {
      return this.$store.getters.findCategory(product.category)
    },
    findCity(product) {
      return this.$store.getters.findCity(product.city)
    },
    filterItem(product) {
      this.filters.categories = this.categoryList;
      this.filters.cities = this.selectedCity;
      this.filters.prices = this.value;
      this.$store.commit('q', this.filters)
    }
  }
}
</script>

<style src="./assets/main.css">

</style>
